<header class="header">
  <div class="container">
    <div class="header__row">
      <div class="header__navigations">
        <a href="#" class="logo">
          <span class="logo__img">
            <img src="@img/logo.svg" alt="logo" />
          </span>
          <span class="logo__text">Forkio</span>
        </a>
        <nav class="nav-main">
          <div class="header-menu">
            <ul class="header-menu__items list-reset">
              <!--add class active-->
              <li class="header-menu__item">
                <a href="#" class="item__link">Overview</a>
              </li>
              <li class="header-menu__item">
                <a href="#" class="item__link">About Fork</a>
              </li>
              <li class="header-menu__item">
                <a href="#" class="item__link">Buying Options</a>
              </li>
              <li class="header-menu__item">
                <a href="#" class="item__link">Support</a>
              </li>
            </ul>
          </div>
          <div class="burger-menu">
            <i class="fa-solid fa-bars"></i>
            <i class="fa-solid fa-xmark"></i>
          </div>
        </nav>
        <button class="btn-buynow btn text--capitalize bg--second-color">
          Buy Now
        </button>
      </div>
      <section class="header__hero">
        <h1 class="title">Fork App</h1>
        <p class="slogan">A real gamechanger in the world of web development</p>
        <p class="product-version">v. 2.8 For Mac and Windows</p>
      </section>
    </div>
  </div>

</header>